<div class="navbar-articles">
  <p> <%= link_to "Wikinimous", articles_path %></p>
  <div class="navbar-articles-right hidden-xs hidden-sm">
    <p href="" class="navbar-articles-item navbar-articles-link"><%= link_to "New Article", new_article_path %></p>
  </div>
</div>
